@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
}

.hero {
  background-image: url(./images/desktop/image-hero.jpg);
  /* height: 50vh; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%; */
}

.hero-background {
  margin: 0 auto;
  width: 1024px;
}

.nav-mobile{
    display: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 100px;
}

.nav-links {
  display: flex;
  font-family: "Alata", sans-serif;

  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.hero-text {
  border: 1.5px solid white;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  font-size: 35px;
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 80px;
  margin-bottom: 110px;

}

.hero-text h1 {
  font-weight: 300;
}

.section-1 {
  
}

.section-1-container {
  margin: 0 auto;
  width: 1024px;
  /* display: flex; */
  position: relative;
}
.left-card-1 {
  /* margin-left: 10%; */
  /* margin-top: 10%; */
  /* position: relative; */
  /* z-index: 1; */
  margin-top: 11rem;
}

.right-card-1 {
  background-color: white;
  display: inline-block;
  margin-top: 11rem;
  padding-left: 50px;
  padding-top: 90px;
  position: absolute;
  right: -3%;
  bottom: 0;
}

.right-card-1-text {
  text-align: left;
}

.right-card-1-text h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 45px;
  margin-bottom: 15px;
}

.right-card-1-text p {
  font-family: "Alata", sans-serif;
  font-weight: 100;
  font-size: 14px;
  text-align: left;
}

.section-2 {
}

.section-2-container {
  margin: 0 auto;
  width: 1024px;
}

.section-2-text {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.section-2-text h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  font-weight: 300;
}

.section-2-text button {
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding-left: 70px;
  padding-right: 70px;
}

.section-3 {
}

.section-3-container {
  margin: 0 auto;
  width: 1024px;
  display: flex;
  gap: 15px;
}

.image-card {
  position: relative;
}

.image-card img {
}

.image-card h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-weight: 200;
  font-family: "Josefin Sans", sans-serif;
}

.section-4-container {
  margin: 0 auto;
  width: 1024px;
  display: flex;
  gap: 15px;
}

.image-card-1 {
  position: relative;
}

.image-card-1 img {
}

.image-card-1 h1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
}

.section-4 {
  margin-bottom: 150px;
}

.footer {
  background-color: black;
  /* padding-top: 35px; */
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer-container {
  margin: 0 auto;
  width: 1024px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.social-links {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.footer-nav-links {
  display: flex;
  /* justify-content: space-between; */
  position: relative;

  gap: 30px;
  margin-top: 10px;
}

.footer-nav-links a {
  text-decoration: none;
  color: white;
}
.footer-nav-text {
  color: hsl(0, 0%, 85%, 0.4);
  display: flex;
  position: absolute;
  right: -3%;

  /* margin-top: 10px; */
}

.hero-text-mobile {
    display: none;
}

.social-links-mobile { 
    display: none;
}

.mobile-button {
    display: none;
}



@media (max-width: 769px) {
    .nav-links{
        display: none;
    }

    .hero-background {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 200px;
}
    
    .nav-mobile {
        display: block;
    }

    .nav-bar {
        padding-left: 20px;
        padding-right: 20px;
    }

 

.hero-text-mobile {
  border: 1.5px solid white;  
  display: inline-block;
   font-family: "Josefin Sans", sans-serif;
   
   font-size: 47px;
   color: white;
   padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 35px;
  margin-bottom: 200px;
  
  margin-left: 20px;
}

.hero-text {
    display: none;
}

.section-1-container {
  
  width: 100%;
  display: flex;
  flex-direction: column;
  position: static;
 
  justify-content: center;
  align-items: center;
  
  
}

.left-card-1 {
    margin-top: 0;
    
    
}

.left-card-1 img {
   
}

.right-card-1 {
    position: static;
    margin-top: 2rem;
    padding: 2rem;
    display: block;
    
}

.right-card-1-text {
  text-align: center;
  
}

.right-card-1-text h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 80px;
  margin-bottom: 15px;
  padding-top: 40px;
}

.right-card-1-text p {
  font-family: "Alata", sans-serif;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: hsl(0, 0%, 85%);
  padding-top: 40px;
}

.section-2-container {
  
  width: 100%;
}

.section-2-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2-text button {
    display: none;
}

.section-3-container {
  /* margin: 0 auto; */
  width: 100%;
  display: flex;
  gap: 5px;
}

.section-4-container {
  
  width: 100%;
  display: flex;
  gap: 5px;
}

.footer-container {
 
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  width: 25%;
    justify-content: center;
    padding-top: 30px;
   
}


.footer-nav-links {
  display: flex;
  justify-content: center;
  position: static;
  flex-direction: column;
  align-items: center;

  gap: 25px;
  margin-top: 10px;
  padding-top: 40px;
}

.footer-nav-text {
  color: hsl(0, 0%, 85%, 0.4);
  display: flex;
  flex-direction: column;
  position: static;
  
  

  /* margin-top: 10px; */
}

.social-links {
    display: none;
}

.social-links-mobile {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.mobile-button {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
    margin-top: -100px;
    
    

}

.mobile-button button{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 80px;
    padding-right: 80px;
    background-color: white;
    border: 1px solid black;
    font-family: "Alata", sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    

}

}